<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">



<configuration>
    <!--设置配置文件-->

    <properties resource="dbConfig.properties"/>

    <!--设置使用resultType-->

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2" />
    </settings>

    <!-- autoMappingBehavior should be set in each test case -->

    <environments default="development">
        <environment id="development">
            <!--事务管理-->
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <!--未配置连接池-->
            <dataSource type="UNPOOLED">
                <!--数据与阿配置-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.aurora.dao"/>
    </mappers>

</configuration>

