*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

/* -----------------------------------------header------------------------------------------------------- */
#header{
    width:  100%;
    height: auto;
}
/* -----------------------------------------头第一部分-------------------------------------------------*/
.top{
    height: 35px;
    background: #F2F2F2;
}

.top-left{
    float: left;
    width: 330px;
    font-size: 13px;
    margin: 6px 0px 0px 40px;
}

.welcome{
    width: 200px;
    float: left;
}

.register-login{
    width: 98px;
    float: left;
    margin-left: 20px;
}

.register-login a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.register-login a:hover{
    color: orangered;
    font-size: 14px;
}

.top-right{
    float: right;
    width: 300px;
    margin: 5px 20px 0px 0px;
}

.top-right ul{
    list-style: none;
}

.top-right ul li{
    width: 95px;
    float: left;
    font-size: 13px;
}

.top-right ul li a {
    text-decoration: none;
    color: black;
}

.top-right ul li a label{
    color: red;
    margin-left: 4px;
    margin-right: 4px;
}

.top-right ul li a:hover{
    color: orangered;
    font-size: 14px;
}

/*------------------------------------头第二部分------------------------------------------- */

.nav{
    height: 100px;
    background: #000000;
    position: relative;
}

.logo{
    width: 120px;
    height: 60px;
    border: 1px solid white;
    float: left;
    position: absolute;
    top: 10px;
    left: 80px;
}

.font{
    float: left;
    color: white;
    font-family: simhei;
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0px 0px 230px;

}
.nav ul{
    width: 820px;
    height: 65px;
    list-style: none;
    position: absolute;
    top: 30px;
    left: 350px;
}

.nav ul li{
    width: 80px;
    height: 40px;
    float: left;
    color: white;
    margin: 15px 0px 0px 20px;
    text-align: center;
    line-height: 40px;
}

.nav ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

/*----------------------filter--------------------------*/

#filter{
    width: 1000px;
    height: 50px;
    margin: 50px auto;
    /*border: 1px solid red;*/
}
.filter-slice{
    border-top: 1px solid gray;
}
.filter-header{
    float: left;
    background-color: #F3F3F3;
    color: #757575;
    font-size: 20px;
    /*border: 1px solid red;*/
}
.filter-main{
    display: inline;
    list-style: none;
    font-size: 20px;
    margin-left: 100px;
}
.filter-main a{
    color: dodgerblue;
}
.filter-main a:hover{
    color: red;
}

/*----------------------Sort--------------------------*/

#sort{
    width: 1000px;
    height: 40px;
    margin: auto;
    /*border: 1px solid red;*/
    background-color: #F3F3F3;
}
.sort{
    width: 80px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #757575;
    border: 1px solid gray;
    float: left;
}

/*----------------------page--------------------------*/
#pages {
    width: 1000px;
    height: 70px;
    border: 1px solid red;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    margin: auto;
}




/*------------------------------------footer部分------------------------------------------- */
#orderBottom {
    width: 100%;
    background-color: black;
    margin-top: 100px;
}

#orderBottom ol {
    list-style: none;
    margin: 0px;
    padding-top: 25px;
    margin-left: 18%;
}

#orderBottom ol li {
    margin-top: 5px;
    float: left;
    margin-left: 25px;
    list-style-type: none;
    color: white;
    font-weight: 700;
    font-family: Georgia;
    font-size: 18px;
}

#orderBottom #orderBottomTop {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid white;
}

#orderBottom #orderBottomDown {
    width: 100%;
    margin-left: 30px;
    margin-top: 20px;
    height: 300px;
}

#orderBottom #orderBottomDown a {
    text-decoration: none;
    color: white;
}

#orderBottom #orderBottomDown .mod_help_nav {
    float: left;
    width: 20%;
}

#orderBottom #orderBottomDown .mod_help_nav li {
    margin-left: 60px;
    display: block;
    margin-top: 20px;
}