#oDiv{

    width: 50%;
    height: 300px;
    margin: 0 auto;
    color: white;
    background-color: black;
}

#middle{
    min-height: 600px;
    width: 100%;
}

#orderGetNumber{
    margin-top: 20px
}